.Button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: lightpink;
    padding: 5px 10px;
    margin: 5px;
    /* box-shadow: 30px 30px 30px gray; */
}
.Button:hover{
    filter: grayscale(40%);
}
.Button > *{
        
  max-width: 50px;
  max-height: auto;
}

.clicked{
    box-shadow: 10px 10px 25px gray;
}